<!DOCTYPE html>
<html>
    <head>
        <title>Papadipupi</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="{$basePath}/css/style.css" />
        <link rel="apple-touch-icon" href="apple-touch-icon-57x57.png">
    </head>
    <body>
        <div id="map-canvas"></div>
        
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{$basePath}/js/core.js"></script>
    </body>
</html>
