<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="map-canvas"></div>
        
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script src="/js/core.js"></script>
    </body>
</html>
